  #wrapper{
  background-color: #E8E8E8;
  width:100%;
  height:100%;
  position:fixed;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  z-index:2}

  #wrapper:before{
  position:absolute;
  z-index:-1;
  background-color:#59B0CD;
  width:100%;
  height:25%;
  content:'';
  top:0;
  left:0} 