<!-- traducido -->
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainContacto" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Contactos</h3>
          </div>
          <div class="col-md-3">
            <br>
          </div>
          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Nombre (s)</th>
                  <th>A. Paterno</th>
                  <th>A. Materno</th>
                  <th>Telefono</th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contacto in Miscontactos">
                  <!--                   <td class="text-dark">{{ $index + 1 }}</td>-->                  

                  <td class="text-dark">{{ contacto.nombre }}</td>
                  <td class="text-dark">{{ contacto.paterno }}</td>
                  <td class="text-dark">{{ contacto.materno }}</td>
                  <td class="text-dark">{{ contacto.celular }}</td>
                  <!-- <td class="text-dark"><button type="button" class="btn btn-info btn-sm" ng-click="enviar(contacto.id_paciente)">Enviar</button></td> -->
                  <td class="text-dark"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="selectMensaje(contacto.id_paciente)">Mensajes</button></td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div ng-show="mostrarContacto" class="col-md-12">
              <form id="newContacto">
                <div class="form-group">

                  <small class="form-control-feedback"></small>
                  <br>
                </div>
                <input type="hidden" name="idContactoH" ng-model="idContactoH">
                <div class="form-group" >
                  <label for="mensaje">Mensaje</label>
                  <select title="select a Mensaje" class="form-control" name="idmens" ng-model="idmens" ng-options="datos.id_mensaje as datos.descripcion for datos in MisMensajes">
                    <option value="">Selecciona el Mensaje</option>
                  </select>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

        <button type="button" ng-click="enviar(datos.id_mensaje)" ng-show="saveBotonContacto" class="btn btn-primary">Enviar Mensaje</button>

      </div>
    </div>
  </div>
</div>