<div class="container">
	<div class="page-header">
		<!-- <a href="#"><img src="logo1.png"height="10%" width="14%"alt="Optica Mirosc"/></a> -->
		<h1>HISTORIA CLINICA</h1>
	</div>

	<div class="row" ng-show="tabla">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<div class="card">
				<div class="tab-pane fade show active" id="mainArmazon" role="tabpanel" aria-labelledby="delete-tab">
					<div class="row">
						<div class="col-md-4 offset-md-5">
							<h3>Historias</h3>
						</div>
						<div class="col-md-3">
							<br>
							<!-- <button type="button" class="btn btn-outline-dark" id="addHistory" name="addHistory" ng-click="addHistory()">Add no funcion</button> -->
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addHistory" name="addHistory" ng-click="addHistory()">Agregar</button>
						</div>

						<div class="col-md-8 offset-md-2">

							<table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
								<thead >
									<tr>
										<th></th>
										<th>Nombre</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="historia in MisHistorias">
										<td class="text-dark">
											<a ng-click="selectHistoria(historia.cod_pacienteid)" class="alert-link text-dark">Seleccione</a>
										</td>
										<td class="text-dark">{{ historia.nomC }}</td>
										<td class="text-dark">

											<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="newHistory(historia.cod_pacienteid)">Nuevo</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="divider"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-lg-12 col-sm-12" ng-show="tablaPaciente">
			<div class="card">
				<div class="card-body">
					<div class="col-md-6 offset-md-3">
						<br>
						<h3>Historia de {{ nomCo }}</h3>
					</div>
					<table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-striped table-bordered">
						<thead>
							<tr>
								<th style="width: 20px;">Selecione</th>
								<th>Email</th>
								<th>Edad</th>
								<th>Ultima consulta</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="paciente in miPaciente">
								<td>
									<a data-toggle="modal"  ng-click="historia(paciente.cod_datogeneralid)" data-target="#pacienteHistory" class="alert-link text-dark">Selecione</a>  
								</td>
								<td class="text-dark">
									{{paciente.email}}
								</td>
								<td class="text-dark">
									{{paciente.f_nac}}
								</td>
								<td class="text-dark">
									{{paciente.f_reg}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-show="formulario">
		<div class="col-md-11 col-sm-6">
			<div class="panel with-nav-tabs panel-default">
				<div class="panel-heading p-3 mb-2 bg-dark text-white">
					<ul class="nav nav-tabs mb-3 " id="myTab" role="tablist">
						<li class="nav-item "><a class="nav-link"  ui-sref=".tab1" >Datos Generales</a></li>
						<li class="nav-item "><a class="nav-link"  ui-sref=".tab2" >Queja Principal</a></li>
						<li class="nav-item  dropdown ">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Antecedentes </a>
							<div class="dropdown-menu bg-dark">
								<a class="dropdown-item p-3 mb-2 bg-dark text-white"  ui-sref=".tab3" >Oculares Del Px</a>
								<a class="dropdown-item p-3 mb-2 bg-dark text-white"  ui-sref=".tab4" >Oculares Familiares</a>
								<a class="dropdown-item p-3 mb-2 bg-dark text-white"  ui-sref=".tab5" >Medicos Del Px</a>
								<a class="dropdown-item p-3 mb-2 bg-dark text-white"  ui-sref=".tab6" >Medicos Familiares</a>
							</div>
						</li>
						<li class="nav-item "><a class="nav-link"  ui-sref=".tab7" >Observación General</a></li>
						<li class="nav-item "><a class="nav-link"  ui-sref=".tab8" >Examen Px</a></li>
						<li class="nav-item "><a class="nav-link"  ui-sref=".tab9" >Laboratorio</a></li>
					</ul>
				</div>

				<div class="panel-body">
					<div class="tab-content col-md-12">

						<div class="tab-pane in active" id="tab1">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab2">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab3">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab4">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab5">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab6">
							<div ui-view></div>
						</div>
						<br>

						<div class="tab-pane" id="tab7">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab8">
							<div ui-view></div>
						</div>

						<div class="tab-pane" id="tab9">
							<div ui-view></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal " id="pacienteHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-md-6">
						<h5 class="modal-title" id="exampleModalLabel">Historia Clinica</h5>
					</div>

				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="limpiar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div ng-show="viewAnswer">
					<div class="embed-responsive embed-responsive-16by9">
						<embed embed-src="{{url}}" src="{{url}} " type="application/pdf"/>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" name="regresar" ng-show="regresar" ng-click="regresarHistory()">Return</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="limpiar()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
