<div class="unix-login">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="login-content card">
          <div class="login-form">
            <h4>Login</h4>
            <form>
              <div class="form-group">
                <label>Dirección de Email</label>
                <input type="email" class="form-control" placeholder="Email" name="userlogin" id="userlogin" ng-model="userlogin" data-valid="requerido|email|max:100|min:2" required autofocus>
                      <small class="form-control-feedback"></small>
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                 <input type="password" class="form-control" placeholder="Contraseña" name="pwlogin" id="pwlogin" ng-model="pwlogin" data-valid="requerido|max:100|min:3" required>
                      <small class="form-control-feedback"></small>
              </div>
              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox"> Recordar Contraseña
                </label>
                <label class="pull-right">
                  <a href="#">Contraseña Olvidada?</a>
                </label>

              </div> -->
              <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
              <!-- <div class="register-link m-t-15 text-center">
                <p>Aún no tienes cuenta? <a href="#"> Ingresar</a></p>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>