   
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light" aria-label="breadcrumb">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="home()" aria-expanded="false">
                    <!-- Logo icon -->
                    <b><img src="img/logo1.png" alt="homepage" width="80%" height="80%" class="dark-logo" /></b>
                    <!--End Logo icon -->
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse" >
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0" id="content">
                    <!-- This is  -->
                    <li class="nav-item"> 
                        <a class="nav-link nav-toggler hidden-md-up text-muted " href="javascript:void(0)">
                            <i class="mdi mdi-menu"></i>
                        </a> 
                    </li>
                    <li class="nav-item m-l-10"> 
                        <a class="nav-link sidebartoggler hidden-sm-down text-muted " href="javascript:void(0)">
                            <i class="ti-menu"></i>
                        </a> 
                    </li>
                    <!-- Messages -->
                    <!--  {{ nameLocation }} / {{ nameCustom }} / {{ namePlant }} -->                        
                </ul>

                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Comment -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted  " href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-briefcase" aria-hidden="true"></i>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">

                        </div>
                    </li>
                    <!-- End Comment -->

                    <!-- Search -->
                    <li class="nav-item hidden-sm-down search-box"> 
                        <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)">
                            <i class="ti-search"></i>
                        </a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> 
                            <a class="srh-btn">
                                <i class="ti-close"></i>
                            </a> 
                        </form>
                    </li>
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/avatar.png" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a ui-sref=".profile" href="javascript:void(0);"><i class="ti-user"></i> Profile</a></li>
                                <li><a ui-sref=".settings" href="javascript:void(0);"><i class="ti-settings"></i> Setting</a></li>
                                <li><a ng-click="logout()" href="javascript:void(0);"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar ">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav ">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">MENU </li>

                    <li><a ng-click="home()" aria-expanded="false"><i class="fa fa-history" ></i><span class="hide-menu">Historia </span></a></li>
                    
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-whatsapp" ></i><span class="hide-menu">WhatsApp <span class="label label-rouded label-primary pull-right">2</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a ui-sref=".contacto" aria-expanded="false"><i class="fa fa-address-book-o" ></i><span class="hide-menu">Contacto </span></a>
                            
                            <li><a ui-sref=".mensaje" aria-expanded="false"><i class="fa fa-commenting" ></i><span class="hide-menu">Mensaje </span></a></li> 
                        </ul>
                    </li>
                    

                    <li class="nav-devider"></li>
                    <li class="nav-label">Inventario</li> 

                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-arrows"></i><span class="hide-menu">Tamaño <span class="label label-rouded label-primary pull-right">3</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a ui-sref=".TamForm" aria-expanded="false"><i class="fa fa-arrows-h" ></i><span class="hide-menu">Tamaño forma </span></a></li>

                            <li><a ui-sref=".TamTerm" aria-expanded="false"><i class="fa fa-tasks" ></i><span class="hide-menu">Tamaño terminal </span></a></li>

                            <li><a ui-sref=".TamPuente" aria-expanded="false"><i class="fa fa-exchange" ></i><span class="hide-menu">Tamaño puente </span></a></li>
                        </ul>
                    </li>
                    

                    <!-- <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class=""></i><span class="hide-menu">Material <span class="label label-rouded label-primary pull-right">2</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a ui-sref=".MatTerm" aria-expanded="false"><i class="fa fa-tumblr" ></i><span class="hide-menu">Material Terminal </span></a></li>

                            <li><a ui-sref=".MatFrente" aria-expanded="false"><i class="fa fa-expand" ></i><span class="hide-menu">Material Frente </span></a></li>
                        </ul>
                    </li> -->
                    
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-pencil-square-o"></i><span class="hide-menu">Color <span class="label label-rouded label-primary pull-right">3</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a ui-sref=".Colores" aria-expanded="false"><i class="fa fa-paint-brush" ></i><span class="hide-menu">Colores </span></a></li>

                            <li><a ui-sref=".ColFrente" aria-expanded="false"><i class="fa fa-yelp" ></i><span class="hide-menu">Color Frente </span></a></li>

                            <li><a ui-sref=".ColTerm" aria-expanded="false"><i class="fa fa-delicious" ></i><span class="hide-menu">Color Terminal </span></a></li>
                        </ul>
                    </li>
                    
                    <li><a ui-sref=".Material" aria-expanded="false"><i class="fa fa-tint" ></i><span class="hide-menu">Material </span></a></li>

                    <li><a ui-sref=".marca" aria-expanded="false"><i class="fa fa-trademark" ></i><span class="hide-menu">Marca </span></a></li>

                    <li><a ui-sref=".Armazon" aria-expanded="false"><i class="fa fa-adn" ></i><span class="hide-menu">Armazon </span></a></li>

                    <li><a ui-sref=".Producto" aria-expanded="false"><i class="fa fa-product-hunt" ></i><span class="hide-menu">Producto </span></a></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-dark">Tablero de Control </h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb" >
                    <li class="breadcrumb-item"><a>x</a></li>
                    <li class="breadcrumb-item"><a>y</a></li>
                    <li class="breadcrumb-item active">z</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">

            <!-- Start Page Content -->
            <div ui-view></div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->

<!-- footer -->
<footer>

</footer>   
<!-- End footer -->

<!-- slimscrollbar scrollbar JavaScript -->
<script src="js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

<!-- scripit init-->
<script src="js/scripts.js"></script>
