<div class="row">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="card">
			<div class="tab-pane fade show active" id="mainMensaje" role="tabpanel" aria-labelledby="delete-tab">
				<div class="row">
					<div class="col-md-4 offset-md-5">
						<br>
						<h3>Mensaje</h3>
					</div>
					<div class="col-md-3">
						<br>
						<!-- <button type="button" class="btn btn-outline-dark" id="addMensaje" name="addMensaje" ng-click="addMensaje()">Add no funcion</button> -->
						<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addMensaje" name="addMensaje" ng-click="addMensaje()">Agregar</button>
					</div>

					<div class="col-md-8 offset-md-2">

						<table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
							<thead >
								<tr>
									
									<th>Descripción</th>
									<th>Mensaje</th>
									<th style="width: 25px;"></th>
									<th style="width: 25px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="miMensaje in MisMensajes">
									<td class="text-dark">{{ miMensaje.descripcion}}</td>
									<td class="text-dark">{{ miMensaje.mensaje }}</td>
									<td class="text-dark">
										<!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaMensaje(miMensaje.id_mensaje)">Update</button> -->
										<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaMensaje(miMensaje.id_mensaje)">Actualizar</button>
									</td>
									<td class="text-dark">
										<!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertMensaje(miMensaje.id_mensaje)">Delete</button> -->
										<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertMensaje(miMensaje.id_mensaje)">Eliminar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div ng-show="mostrarMensaje" class="col-md-12">
							<form id="newMensaje">
								<input type="hidden" name="idMensajeH" ng-model="idMensajeH">
								<div class="form-group">
									<label class="form-control-label" for="descripcion">Descripcion</label>
									<input type="text" class="form-control" id="adddescripcion" name="descripcion" ng-model="descripcion" aria-describedby="descripcion" placeholder="Ingresa descripcion" data-validacion-tipo="requerido|letras|max:100|min:2" required>
									<br>
									<br>
								</div>
								<div class="form-group purple-border"">
									<label class="form-control-label" for="mensaje">Mensaje</label>
									<textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addmensaje" name="mensaje" ng-model="mensaje" aria-describedby="mensaje" placeholder="Ingresa mensaje" data-validacion-tipo="requerido|letras|max:100|min:2" required>

									</textarea>
									<small class="form-control-feedback"></small>
									<br>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

				<button type="button" ng-click="saveMensaje()" ng-show="saveBotonMensaje" class="btn btn-primary">Guardar</button>

				<button type="button" ng-click="updateMensaje()" ng-show="updateBotonMensaje" class="btn btn-primary">Actualizar</button>

				<button type="button" ng-click="deleteMensaje()" ng-show="deleteBotonMensaje" class="btn btn-primary" ng-disabled="acceptMensaje==false">Eliminar</button>

			</div>
		</div>
	</div>
</div>
