<div class="row">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="card">
			<div class="tab-pane fade show " id="mainUser" role="tabpanel" aria-labelledby="delete-tab">
				<div class="row">
					<div class="col-md-4 offset-md-5">
						<br>
						<h3>Users</h3>
					</div>
					<div class="col-md-3">
						<br>
						<button type="button" class="btn btn-outline-info" id="addUser" name="addUser" ng-click="addUser()">Add</button>
					</div>
					<div class="col-md-10 offset-md-1">

						<table datatable="ng" dt-options="vm.dtOptions" class="table  table-responsive table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Id</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Email</th>
									<th>Plant</th>
									<th>Client Custom</th>
									<th style="width: 25px;"></th>
									<th style="width: 25px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in misUser">
									<td class="text-dark">{{ $index + 1 }}</td>
									<td class="text-dark">{{ user.firstName }}</td>
									<td class="text-dark">{{ user.lastName }}</td>
									<td class="text-dark">{{ user.email }}</td>
									<td class="text-dark">{{ user.namePlant }}</td>
									<td class="text-dark">{{ user.nameCustom }}</td>
									<td class="text-dark"><button type="button" class="btn btn-info btn-sm" ng-click="modificaUser(user.idUser)">Update</button></td>
									<td class="text-dark"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertUser(user.idUser)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">

						<div ng-show="mostrarUser" class="col-md-12">
							<form id="newUser">
								<input type="hidden" name="idUserH" ng-model="idUserH">
								<div class="form-group">
									<label for="firstName" class="form-control-label">First Name</label>
									<input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName" placeholder="Jose" data-validacion-tipo="requerido|letras|max:100|min:2" required>
									<small class="form-control-feedback"></small>
								</div>
								<div class="form-group">
									<label for="lastName" class="form-control-label">Last Name</label>
									<input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName" placeholder="López" data-validacion-tipo="requerido|letras|max:100|min:2" required>
									<small class="form-control-feedback"></small>
								</div>
								<div class="form-group">
									<label for="email" class="form-control-label">Email</label>
									<input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Email" data-validacion-tipo="requerido|email|max:100|min:2" required>
									<small class="form-control-feedback"></small>
								</div>

								<div class="form-group" ng-show="showChangePass">
									<label class="custom-control custom-radio">
										<input id="noPass" name="mostrarPass" ng-model="mostrarPass" value="no" type="radio" class="form-check-input" ng-click="motrarPass(false)" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">No change password</span>
									</label>
									<label class="custom-control custom-radio">
										<input id="yesPass" name="mostrarPass" ng-model="mostrarPass" value="si" type="radio" class="form-check-input" ng-click="motrarPass(true)">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Change password</span>
									</label>
								</div>

								<div class="form-group showPass" >
									<label for="pass" class="form-control-label">Password</label>
									<input type="password" class="form-control" id="pass" name="pass" ng-model="pass" placeholder="Password" data-validacion-tipo="requerido|alfanumerico|max:100|min:2" required>
									<small class="form-control-feedback"></small>
								</div>

								<div class="form-group showPass" >
									<label for="pass2" class="form-control-label">Password</label>
									<input type="password" class="form-control" id="pass2" name="pass2" ng-model="pass2" ng-blur="validationPass()" placeholder="Password" data-validacion-tipo="requerido|alfanumerico|max:100|min:2" required>
									<small class="form-control-feedback"></small>

									<div class="alert alert-danger showAler" id="alertPass" role="alert">
										<strong>Oh Sorry!</strong> The passwords do not match, try again.
									</div>
								</div>

								<h5>Select which type of user will be</h5>
								<fieldset class="form-group">

									<legend class="col-form-legend col-sm-2">Roll</legend>
									<div class="col-md-12">
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" name="idRoll" ng-model="idRoll" id="idRoll1" value="2" checked >
												Manager
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" name="idRoll" ng-model="idRoll" id="idRoll2" value="3" >
												Enginer
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" name="idRoll" ng-model="idRoll" id="idRoll3" value="4" >
												Customer
											</label>
										</div>
									</div>
								</fieldset>

								<div id="mostrarRolManager" class="showRoles">
									<div class="form-group" ng-show="adminView">
										<label for="country">Country</label>
										<select title="select a country" ng-change="changeCountry()" class="form-control " name="idCountry" ng-model="idCountry" ng-options="datos.idCountry as datos.name for datos in Countries">
											<option value="">Choose country</option>
										</select>
									</div>
								</div>

								<div id="mostrarRolEnginner" class="showRoles">
									<div class="form-group" ng-show="adminView">
										<label for="country">Country</label>
										<select title="select a country" ng-change="changeCountry()" class="form-control " name="idCountry" ng-model="idCountry" ng-options="datos.idCountry as datos.name for datos in Countries">
											<option value="">Choose country</option>
										</select>
									</div>

									<div class="form-group">
										<label class="form-control-label">Location</label>
										<select ng-change="changeLocation()" title="select a location" class="form-control " name="idLocation" ng-model="idLocation" ng-options="datos.idLocation as datos.location for datos in Locations">
											<option value="">Choose location</option>
										</select>
									</div>
									<div class="form-group">
										<label class="form-control-label">Custom</label>
										<select ng-change="changeCustom()" title="select a custom" class="form-control " name="idCustom" ng-model="idCustom" ng-options="datos.idCustom as datos.nameCustom for datos in Customs">
											<option value="">Choose Custom</option>
										</select>

									</div>
									<div class="form-group">
										<label class="form-control-label">Plant</label>
										<select title="select a plant" class="form-control " name="idPlant" ng-model="idPlant" ng-options="datos.idPlant as datos.plant for datos in Plants">
											<option value="">Choose plant</option>
										</select>

									</div>
								</div>

								<div id="mostrarRolCustom" class="showRoles">
									<select title="select a custom" class="form-control " name="idCustomClient" ng-model="idCustomClient" ng-options="datos.idCustom as datos.nameCustom for datos in Customs">
										<option value="">Choose Custom</option>
									</select>
								</div>
							</form>
						</div>

						<div ng-show="mostrarDeleteUser" class="col-md-12">
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<strong>Warning!</strong> The following information related to this User of the database will be deleted.
							</div>
							<div id="accordion" role="tablist" aria-multiselectable="false">
								<div class="card">
									<div class="card-header" role="tab" id="partBuyOff5">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour5" aria-expanded="false" aria-controls="collapseFour5">
												Number of BuyOff in this Station of User # {{numBuyOff}}
											</a>
										</h5>
									</div>
									<div id="collapseFour5" class="collapse" role="tabpanel" aria-labelledby="partBuyOff5">
										<div class="card-block">
											<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>BuyOff</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dato in misBuyByUser">
														<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partCheck5">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
												Number of CheckList in this Station of User # {{numCheck}}
											</a>
										</h5>
									</div>
									<div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="partCheck5">
										<div class="card-block">
											<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>CheckList</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dato in misCheckByUser">
														<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partAnswerBuy5">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix5" aria-expanded="false" aria-controls="collapseSix5">
												Number of answer in this BuyOff of User # {{numAnswerBuyUser}}
											</a>
										</h5>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partAnswerCheck5">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight5" aria-expanded="false" aria-controls="collapseEight5">
												Number of BuyOff in this Station of User # {{numAnswerCheckUser}}
											</a>
										</h5>
									</div>
								</div>
							</div>
							<hr />
							<div class="form-group row">
								<div class="col-md-8 offset-md-2">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" ng-model="acceptUser" name="acceptPlant" class="form-check-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">I agree to carry out the operation</span>
									</label>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				<button type="button" ng-click="saveUser()" ng-show="saveBotonUser" ng-disabled="sendUser" class="btn btn-primary">Save</button>
				<button type="button" ng-click="updateUser()" ng-show="updateBotonUser" class="btn btn-primary">Update</button>
				<button type="button" ng-click="deleteUser()" ng-show="deleteBotonUser" class="btn btn-primary" ng-disabled="acceptUser==false">Delete</button>

			</div>
		</div>
	</div>
</div>