<br>
<h3> {{ titulo }}</h3>
<br>
<form id="medicosfam"> 
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<label>Enfermedad</label>
		</div>
		<div class="col-md-8 col-sm-8">
			<label>Parentesco</label>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_diabetes"  type="checkbox" name="rd1" ng-click="diabetes()">  Diabetes
		</div>
		<div ng-show="txt1">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx1" name="Tx1" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_preionarter"  type="checkbox" name="rd2" ng-click="presion()">  Presion Arterial
		</div>
		<div ng-show="txt2">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx2" name="Tx2" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_glaucoma"  type="checkbox" name="rd3" ng-click="glucoma()">  Glaucoma
		</div>
		<div ng-show="txt3">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx3" name="Tx3" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_cirugias"  type="checkbox" name="rd4" ng-click="cirugia()">  Cirugias
		</div>
		<div ng-show="txt4">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx4" name="Tx4" type="text"  >
			</div>
		</div>
	</div> 
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_traumatismo"  type="checkbox" name="rd5" ng-click="trumatismo()">  Traumatismo
		</div>
		<div ng-show="txt5">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx5" name="Tx5" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_dolorcabeza"  type="checkbox" name="rd6" ng-click="dolor()">  Dolor de cabeza
		</div>
		<div ng-show="txt6">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx6" name="Tx6" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_alergias"  type="checkbox" name="rd7" ng-click="alergia()">  Alergias
		</div>
		<div ng-show="txt7">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx7" name="Tx7" type="text"  >
			</div>
		</div>
	</div>
	<br>
</form>

</br>
<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>