<br>
<h3>{{ titulo }}</h3>
<br>
<form id="antmedpx"> 
	<div class="row">
		<div class="col-md-4 col-sm-3">
			<label>Fecha del ultimo examen medico</label>
		</div>
		<div class="col-md-4 col-sm-3">
			<input ng-model="des_fecultexammed" name="fecha" type="text" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<label>Salud General</label>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="bol_diabetes"  type="checkbox"  name="rd">  Diabetes
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="bol_preionarter"  type="checkbox"  name="rd">  Presion Arterial
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="bol_glaucoma"  type="checkbox"  name="rd">  Glaucoma    
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="bol_cirugias"  type="checkbox"  name="rd" ng-click="cirugias()">  Cirugias    
		</div>
		<div ng-show="cirugia">
			<div class="col-md-1 col-sm-1">
				<label>Tx</label>
			</div> 
			<div class="col-md-7 col-sm-7">
				<input ng-model="txt_tx1" name="TX" type="text" >
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<input ng-model="bol_traumatismo"  type="checkbox"  name="rd">  Traumatismo
		</div>
		<div class="col-md-4 col-sm-6">
			<input ng-model="bol_dolorcabeza"  type="checkbox"  name="rd">  Dolor de Cabeza
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="bol_alergias"  type="checkbox"  name="rd" ng-click="alergias()">  Alergias   
		</div>
		<div ng-show="alergia">
			<div class="col-md-1 col-sm-1">
				<label>Tx</label> 
			</div>
			<div class="col-md-7 col-sm-7">
				<input ng-model="txt_tx2" name="TX" type="text" >
			</div>
		</div>

	</div>  
	<br>
	<div class="row">
		<div class="col-md-7 col-sm-7">
			<label>Cuenta con algun servicio medico</label> 
		</div>
		<div class="col-md-7 col-sm-7">
			<!-- <input ng-model="servi" name="Cuenta" type="text" required> -->
			<select class="dropdown-toggle" ng-model="selectedServicio" ng-options="servicio.nombre for servicio in servicios">
			</select>
		</div>
	</div>
</form>

<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>