<br>
<h3>{{ titulo }}</h3>
<br>
<form id="ocularesfam"> 

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<label>Enfermedad</label>
		</div>
		<div class="col-md-8 col-sm-8">
			<label>Parentesco</label>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_cataratas" type="checkbox" name="rd" ng-click="cataratas()">  
			Cataratas
		</div>
		<div ng-show="catarata">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx1" name="Tx1" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_glaucoma" type="checkbox" name="rd" ng-click="glaucomaf()">  Glaucoma
		</div>
		<div ng-show="Glaucoma">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx2" name="Tx2" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_ceguera" type="checkbox" name="rd" ng-click="ceguera()">  
			Ceguera
		</div>
		<div ng-show="Ceguera">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx3" name="Tx3" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input  ng-model="bol_cirugias"type="checkbox" name="rd" ng-click="cirugias()">  Cirugias
		</div>
		<div ng-show="cirugia">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx4" name="Tx4" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input  ng-model="bol_estrabismo" type="checkbox" name="rd" ng-click="estrabismo()">  
			Estrabusmo
		</div>
		<div ng-show="Estrabismo">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx5" name="Tx5" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_ametropias" type="checkbox" name="rd" ng-click="ametropias()">
			Ametropias Elevadas  
		</div>
		<div ng-show="ametropia">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx6" name="Tx6" type="text"  >
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<input ng-model="bol_queratocono" type="checkbox" name="rd" ng-click="queratocono()"> 
			Queratocono 
		</div>
		<div ng-show="Queratocono">
			<div class="col-md-8 col-sm-8">
				<input ng-model="txt_tx7" name="Tx7" type="text"  >
			</div>
		</div>
	</div>
	<br>
	<!-- <div class="row">
		<div class="col-md-4 col-sm-4">
			<label>Parentesco Familiar</label>
		</div>
		<div class="col-md-4 col-sm-4">
			<input ng-model="parente" name="Parentesco" type="text" placeholder="" required>
		</div>
	</div> -->

</form>

<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>