<br>
<h3>{{ titulo }}</h3>
<br>
<form id="antOcularesPx"> 
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<label>Golpes Oculares o Craneal</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="bol_golpes" type="checkbox" name="rd" ng-click="golpe()" >
			<!-- input ng-model="bol_golpes" name="Golpes" type="text"   -->
		</div>
	</div>
	<br ng-show="tx1">
	<div class="row" ng-show="tx1">
		<div class="col-md-4 col-sm-6">
			<label>Ubicación</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="txt_ubicacion1" name="Ubicación" type="text"  >
		</div>
	</div>
	<br>
	<div class="row" ng-show="tx1">
		<div class="col-md-4 col-sm-6">
			<label>Tx</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="txt_tx1" name="Tx" type="text"  >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<label>Infecciones o Cirugias Oculares</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="bol_infecciones" name="Infecciones" type="checkbox" ng-click="infeccion()" >
		</div>
	</div>
	<br>
	<div class="row" ng-show="tx2">
		<div class="col-md-4 col-sm-6">
			<label>Tx</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="txt_tx2" name="Tx" type="text"  >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<label>Desviaciones Oculares</label>
		</div>
		<div class="col-md-8 col-sm-10">
			<input ng-model="bol_desviacion_o" name="Desviaciones" type="checkbox"  ng-click="desviacion()">
		</div>
	</div>
	<br ng-show="tx3">
	<div ng-show="tx3">
		<div class="row"  ng-show="tx3">
			<div class="col-md-4 col-sm-6">
				<label>Tx</label>
			</div>
			<div class="col-md-8 col-sm-10">
				<input ng-model="txt_tx3" name="Tx" type="text"  >
			</div>
		</div>
	</div>
	<br>
</form>

<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>
