<br>
<h3>{{ titulo }}</h3>
<br>
<form id="general">
	<div ng-show="datos">
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<label>Nombre (s):</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="nombre" id="nombre" name="nombre" type="text" placeholder="Nombre(s)" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<label>Apellido Paterno:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="paterno" id="paterno" name="paterno" type="text" placeholder="Apellido paterno" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<label>Apellido Materno:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="materno" id="materno" name="materno" type="text" placeholder="Apellido materno" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Telefono:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="casa" id="telefono" name="casa" type="tel" size="10" maxlength="10" >
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label for="phonenum">Telefono Movil:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="celular" id="movil" name="movil" type="tel" size="10" maxlength="10" required>
			</div>
			<br>
		</div>
		<br>
		<div class="row" >
			<div class="col-md-4 col-sm-6 col-xs-12 checkbox">
				<label><input type="checkbox" ng-model="visible" value="visible" ng-click="personal()">  información personal</label>
			</div>
		</div>

		<br>
		<div ng-show="guardar">
			<button type="button" ng-click="save1()" class="btn btn-dark pull-right">Guardar</button>
		</div>
	</div>
	<br>
	<div ng-show="genre">
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Fecha de Nacimiento:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="nacimiento" id="nacimiento" name="nacimiento" type="date" placeholder="10/10/1990" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Pasatiempos:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="pasatiempo" id="pasatiempo" name="Pasatiempos" type="text" placeholder="Tocar un Instrumento" >
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Calle | Av:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="calle" id="calle-av" name="calle" type="text" placeholder="Reforma" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Numero Exterior:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="nuExt" id="externo" name="Exterior" type="number" placeholder="40" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Numero Interior:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="nuInt" id="interno" name="Interior" type="text" placeholder="2A" >
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Colonia:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="colonia" id="colonia" name="Colonia" type="text" placeholder="Col.Centro" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Codigo Postal:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="cp" id="cp" name="Postal" type="number" placeholder="90000" size="5" maxlength="5" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Municipio:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="municipio" id="municipio" name="Municipio" type="text" placeholder="Tlaxcala" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Estado:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="estado" id="estado" name="Estado" type="text" placeholder="Tlaxcala" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Email:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="email" id="email" name="email" type="email" placeholder="usuario@dominio.com" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Ocupación:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="ocupacion" id="ocufacion" name="Ocupacion" type="text" placeholder="Empleado" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Factor de Riesgo:</label> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="facRies" id="riesgo" name="Riesgo" type="text" placeholder="" required>
			</div>
		</div>
		<br>
	</div>

	<br>
	<div ng-show="genre">
		<button type="button" ng-click="save2()" class="btn btn-dark pull-right">Siguiente</button>
	</div>
</form>



		<!-- <div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<label>Edad:</<label></label>> 
			</div>
			<div class="col-md-4 col-sm-6"> 
				<input ng-model="edad" id="" name="edad" type="text" placeholder="23" disable required>
			</div>
		</div> 
		<br>-->