<br>
<h3>Test visual</h3>
<br>
<form id="examen">
	<br>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th> </th>
					<th>A.V.L.</th>
					<th>P.H.</th>
					<th>Retinoscopia</th>
					<th></th>
					<th>Bicromatica</th>
					<th>Reloj Asimetrico</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"> OD</th>
					<td> 
						<select class="dropdown-toggle" ng-model="derAVL" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td>
						<select class="dropdown-toggle" ng-model="derPH" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td>
						<input ng-model="derRetinos" type="text" size="10" maxlength="10">
					</td>
					<td>
						<input ng-model="derOPT" type="text" size="10" maxlength="10">
					</td>
					<td>
						<select class="dropdown-toggle" ng-model="derBicro" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td>
						<select class="dropdown-toggle" ng-model="derReloj" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
				</tr>
				<tr>
					<th scope="row"> OI</th>
					<td>
						<select class="dropdown-toggle" ng-model="izqAVL" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td>
						<select class="dropdown-toggle" ng-model="izqPH" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td>
						<input ng-model="izqRetinos" type="text" size="10" maxlength="10">
					</td>
					<td> 
						<input ng-model="izqOPT" type="text" size="10" maxlength="10">
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="izqBicro" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="izqReloj" ng-options="medida.cnu_valor for medida in medidas">
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<br>
<h3>RX final</h3>
<br>
<form id="rxfinal">
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th> </th>
					<th>Esferico</th>
					<th>Cilindrico</th>
					<th>Eje</th>
					<th>ADD</th>
					<th>DNP</th>
					<th>DIP</th>
					<th>Altura</th>
					<th>Prisma</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"> OD</th>
					<td> 
						<select class="dropdown-toggle" ng-model="derEsfe" ng-options="valores.cnu_valor for valores in esferico">
						</select>
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="derCilin" ng-options="valores.cnu_valor for valores in cilindro">
						</select>
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="derEje" ng-options="valores.cnu_valor for valores in eje">
						</select>
					</td>
					<td> <input ng-model="derADD" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="derDNP" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="derDIP" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="derAlt" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="derPris" type="text" size="10" maxlength="10"></td>
				</tr>
				<tr>
					<th scope="row"> OI</th>
					<td> 
						<select class="dropdown-toggle" ng-model="izqEsfe" ng-options="valores.cnu_valor for valores in esferico">
						</select>
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="izqCilin" ng-options="valores.cnu_valor for valores in cilindro">
						</select>
					</td>
					<td> 
						<select class="dropdown-toggle" ng-model="izqEje" ng-options="valores.cnu_valor for valores in eje">
						</select>
					</td>
					<td> <input ng-model="izqADD" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="izqDNP" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="izqDIP" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="izqAlt" type="text" size="10" maxlength="10"></td>
					<td> <input ng-model="izqPris" type="text" size="10" maxlength="10"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
</form>
<br>
<div>
	<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>
</div>
