<form id="laboratorio">
	<br>
	<h3>Paciente : {{nombreC}}</h3> 
	<br>
	<h3>Resultados examen PX</h3>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th> </th>
					<th>Esferico</th>
					<th>Cilindrico</th>
					<th>Eje</th>
					<th>ADD</th>
					<th>DNP</th>
					<th>DIP</th>
					<th>Altura</th>
					<th>Prisma</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"> OD</th>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
				</tr>
				<tr>
					<th scope="row"> OI</th>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
					<td> <label>{{1}}</label></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<h3>Armazon</h3>
	<br>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Marca  </th>
					<th>Modelo</th>
					<th>Tipo de Armaz´nn</th>
					<th>Color</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" size="30" maxlength="30"> </td>
					<td> <input type="text" size="30" maxlength="30"></td>
					<td> <input type="text" size="30" maxlength="30"></td>
					<td> <input type="text" size="30" maxlength="30"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<h3>Mica o lente</h3>
	<br> 
	<div class="card">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th scope="row"> Lente</th>
					<td><input name="Lente" type="text" size="30" maxlength="30"></td>
				</tr>
				<tr>
					<th scope="row"> Material</th>
					<td><input name="Material" type="text" size="30" maxlength="30"></td>
				</tr>
				<tr>
					<th scope="row">Color</th>
					<td><input name="Color" type="text" size="30" maxlength="30"></td>
				</tr>
				<tr>
				 <th scope="row">Tratamiento</th>
				 <td><input name="Tratamiento" type="text" size="30" maxlength="30"></td>
			 </tr>
			 <tr>
				 <th scope="row"> Filtro </th>
				 <td>
					<input  type="checkbox" name="rd">Uniforme
					<input type="checkbox" name="rd">Desvanecido
				</td>
			</tr>
			<tr>
				<th>  </th>
				<td>
					<input  type="checkbox" name="rd">Claro
					<input type="checkbox" name="rd">Medio
					<input type="checkbox" name="rd">Oscuro
				</td>
			</tr>
		</table>
	</div>
</div>

<br>
<br>

<button type="button" ng-click="save()" class="btn btn-dark pull-right">Guardar</button>
</form>
