<form id="obsgen"> 
	<br>
	<br>
	<h3><span>NO LEER EN VOZ ALTA LO SIGUIENTE:</span></h3>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<label>Anomalias</label>
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="txt_anomalias" name="fisicas" type="text" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<label>Asimetrias faciales</label>
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="txt_asimetrias" name="faciales" type="text" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<label>Desviaciones oculares</label>
		</div>
		<div class="col-md-3 col-sm-4">
			<input  ng-model="txt_obsocular" name="oculares" type="text" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<label>Comportamiento personal</label>
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="txt_comportamiento" name="personal" type="text" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<label>Otros</label>
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="txt_otro" name="otros" type="text" >
		</div>
	</div>
	<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>
</form>