<br>
<br>
<form id="queja">
	<div class="row">
		<div class="col-md-5 col-sm-4">
			<label>¿Cual es la causa de su visita?</label>
		</div>
		<div class="col-md-4 col-sm-6">
			<input ng-model="causaVis" name="complicacion" type="text" placeholder="" >
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-5 col-sm-4">
			<label>Problema principal que presentan sus ojos</label>
		</div>
		<div class="col-md-4 col-sm-6">
			<input ng-model="problema" name="Problema" type="text" placeholder="" >
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-5 col-sm-4">
			<label>¿Desde cuando?</label>
		</div>
		<div class="col-md-4 col-sm-6">
			<input ng-model="cuando" name="cuando" type="text" placeholder="" >
		</div>
	</div>
	<br>
	<br>


	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="visionLej"  type="checkbox" name="rd">  Vision Lejana
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="cercana"  type="checkbox" name="rd">  Cercana
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="visionDob"  type="checkbox" name="rd">  Vision Doble
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="ardor"  type="checkbox" name="rd">  Ardor
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="comez"  type="checkbox" name="rd">  Comezon
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="secre"  type="checkbox" name="rd">  Secreciones
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="fatiOc"  type="checkbox" name="rd">  Fatiga Ocular
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="epiforia"  type="checkbox" name="rd">  Epiforia
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="ojosec"  type="checkbox" name="rd">  Ojo Seco
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="ojoenro"  type="checkbox" name="rd">  Ojo Enrojecido
		</div>
	</div>
	<br>


	<LABEL>Ha experimentado:</LABEL>

	<br>
	<br>
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<input ng-model="moscas"  type="checkbox" name="rd">  Moscas(Miodesopsias)
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="flash"  type="checkbox" name="rd">  Flashes de luz o estrellitas
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="auras"  type="checkbox" name="rd">  Auras o Aros de Diferentes Colores
		</div>
		<div class="col-md-3 col-sm-4">
			<input ng-model="fotofobia"  type="checkbox" name="rd">  Fotofobia
		</div>
	</div>
	<br>
	<br>
	<label><br>Otros</label> 
	<input ng-model="otro" name="Otros" type="text" placeholder="" >
</form>
<br>
<div>
	<button type="button" ng-click="save()" class="btn btn-dark pull-right">Siguiente</button>
	<!-- <button type="button" ng-click="update()" ng-show="updateBotonCustom" class="btn btn-primary">Actualizar</button> -->
</div>