<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainColFrente" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Color Frente</h3>
          </div>
          <div class="col-md-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addColFrente" name="addColFrente" ng-click="addColFrente()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addColFrente" name="addColFrente" ng-click="addColFrente()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>
                  
                  
                  <th>ColFrente</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="miColFrente in MisColFrente">
                  <td class="text-dark">{{ micolFrente.ColFrente }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaColFrente(miColFrente.id_ColFrente)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaColFrente(miColFrente.id_ColFrente)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertColFrente(miColFrente.id_ColFrente)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertColFrente(miColFrente.id_ColFrente)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="mostrarColFrente" class="col-md-12">
              <form id="newColFrente">
                <input type="hidden" name="idColFrenteH" ng-model="idColFrenteH">
                <div class="form-group">
                  <label class="form-control-label" for="descripcion">Descripcion</label>
                  <input type="text" class="form-control" id="adddescripcion" name="descripcion" ng-model="descripcion" aria-describedby="descripcion" placeholder="Ingresa descripcion" data-validacion-tipo="requerido|letras|max:100|min:2" required>
                  <br>
                  <br>
                </div>
                <div class="form-group purple-border"">
                  <label class="form-control-label" for="ColFrente">Color Frente</label>
                  <textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addColFrente" name="ColFrente" ng-model="ColFrente" aria-describedby="ColFrente" placeholder="Ingresa Color del Frente Armazon" data-validacion-tipo="requerido|letras|max:100|min:2" required>

                  </textarea>
                  <small class="form-control-feedback"></small>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" ng-click="saveColFrente()" ng-show="saveBotonColFrente" class="btn btn-primary">Guardar</button>

        <button type="button" ng-click="updateColFrente()" ng-show="updateBotonColFrente" class="btn btn-primary">Actualizar</button>

        <button type="button" ng-click="deleteColFrente()" ng-show="deleteBotonColFrente" class="btn btn-primary" ng-disabled="acceptColFrente==false">Eliminar</button>

      </div>
    </div>
  </div>
</div>