<div class="row">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="card">
			<div class="tab-pane fade show active" id="mainPlant" role="tabpanel" aria-labelledby="delete-tab">
				<div class="row">
					<div class="col-md-4 offset-md-5">
						<br>
						<h3>Plant</h3>
					</div>
					<div class="col-md-3">
						<br>
						<button type="button" class="btn btn-outline-info" id="addPlant" name="addPlant" ng-click="addPlant()">Add</button>
					</div>
					<div class="col-md-8 offset-md-2">

						<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Id</th>
									<th>Plant</th>
									<th>Custom</th>
									<th>Location</th>
									<th>Country</th>
									<th style="width: 25px;"></th>
									<th style="width: 25px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="plant in misPlant">
									<td class="text-dark">{{ $index + 1 }}</td>
									<td class="text-dark">{{ plant.plant }}</td>
									<td class="text-dark">{{ plant.custom }}</td>
									<td class="text-dark">{{ plant.location }}</td>
									<td class="text-dark">{{ plant.country }}</td>
									<td class="text-dark"><button type="button" class="btn btn-info btn-sm" ng-click="modificaPlant(plant.idPlant)">Update</button></td>
									<td class="text-dark"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertPlant(plant.idPlant)">Delete</button></td>
								</tr>
							</tbody>
						</table>
						<div class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">

						<div ng-show="mostrarPlant" class="col-md-12">
							<form id="newPlant">
								<input type="hidden" name="idPlantH" ng-model="idPlantH">
								<div class="form-group" ng-show="adminView">
									<label for="country">Country</label>
									<select title="select a country" ng-change="changeCountry()" class="form-control " name="idCountry" ng-model="idCountry" ng-options="datos.idCountry as datos.name for datos in Countries">
										<option value="">Choose country</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-control-label">Location</label>
									<select title="select a location" class="form-control " name="idLocation" ng-model="idLocation" ng-options="datos.idLocation as datos.location for datos in Locations">
										<option value="">Choose location</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-control-label">Custom</label>
									<select title="select a custom" class="form-control " name="idCustom" ng-model="idCustom" ng-options="datos.idCustom as datos.nameCustom for datos in Customs">
										<option value="">Choose Custom</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-control-label" for="name">Name Plant</label>
									<input type="text" class="form-control" id="addname" name="name" ng-model="name" aria-describedby="name" placeholder="Enter Plant" data-validacion-tipo="requerido|max:100|min:2" required>
									<small class="form-control-feedback"></small>
									<br>
								</div>
							</form>
						</div>

						<div ng-show="mostrarDeletePlant" class="col-md-12">
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<strong>Warning!</strong> The following information related to this plant of the database will be deleted.
							</div>
							<div id="accordion" role="tablist" aria-multiselectable="false">
								<div class="card">
									<div class="card-header" role="tab" id="partStation4">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
												Number of Station in this Plant # {{numStations}}
											</a>
										</h5>
									</div>
									<div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="partStation4">
										<div class="card-block">
											<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Station</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dato in misStationByPlant">
														<td>{{ dato.nameStation }}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partBuyOff4">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
												Number of BuyOff in this Station of Plant # {{numBuyOff}}
											</a>
										</h5>
									</div>
									<div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="partBuyOff4">
										<div class="card-block">
											<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>BuyOff</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dato in misBuyByPlant">
														<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partCheck4">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive4" aria-expanded="false" aria-controls="collapseFive4">
												Number of CheckList in this Station of Plant # {{numCheck}}
											</a>
										</h5>
									</div>
									<div id="collapseFive4" class="collapse" role="tabpanel" aria-labelledby="partCheck4">
										<div class="card-block">
											<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>CheckList</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dato in misCheckByPlant">
														<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partAnswerBuy4">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix4" aria-expanded="false" aria-controls="collapseSix4">
												Number of answer in this BuyOff of Stations # {{numAnswerBuyPlant}}
											</a>
										</h5>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="partAnswerCheck4">
										<h5 class="mb-0">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight4" aria-expanded="false" aria-controls="collapseEight4">
												Number of BuyOff in this Station of Plant # {{numAnswerCheckPlant}}
											</a>
										</h5>
									</div>
								</div>
							</div>
							<hr />
							<div class="form-group row">
								<div class="col-md-8 offset-md-2">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" ng-model="acceptPlant" name="acceptPlant" class="form-check-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">I agree to carry out the operation</span>
									</label>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				<button type="button" ng-click="savePlant()" ng-show="saveBotonPlant" class="btn btn-primary">Save</button>
				<button type="button" ng-click="updatePlant()" ng-show="updateBotonPlant" class="btn btn-primary">Update</button>
				<button type="button" ng-click="deletePlant()" ng-show="deleteBotonPlant" class="btn btn-primary" ng-disabled="acceptPlant==false">Delete</button>

			</div>
		</div>
	</div>
</div>