<div class="row">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="card">
			<div class="tab-pane fade show active" id="mainMarca" role="tabpanel" aria-labelledby="delete-tab">
				<div class="row">
					<div class="col-md-4 offset-md-5">
						<br>
						<h3>Marca</h3>
					</div>
					<div class="col-md-3">
						<br>
						<!-- <button type="button" class="btn btn-outline-dark" id="addMarca" name="addMarca" ng-click="addMarca()">Add no funcion</button> -->
						<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addMarca" name="addMarca" ng-click="addMarca()">Agregar</button>
					</div>

					<div class="col-md-8 offset-md-2">

						<table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
							<thead >
								<tr>
									
									<th>Marca</th>
									<th>Cantidad</th>
									<th style="width: 25px;"></th>
									<th style="width: 25px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="mimarca in Mismarcas">
									
									<td class="text-dark">{{ mimarca.marca }}</td>
									<td class="text-dark">{{ mimarca.cantidad }}</td>
									<td class="text-dark">
										<!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaMarca(mimarca.id_marca)">Update</button> -->
										<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaMarca(mimarca.id_marca)">Actualizar</button>
									</td>
									<td class="text-dark">
										<!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertMarca(mimarca.id_marca)">Delete</button> -->
										<button type="button" class="btn btn-danger btn-sm"  ng-click="deleteAlertMarca(mimarca.id_marca)">Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div ng-show="mostrarMarca" class="col-md-12">
							<form id="newMarca">
								<input type="hidden" name="idMarcaH" ng-model="idMarcaH">
								<div class="form-group">
									<label class="form-control-label" for="Marca">Name Marca</label>
									<input type="text" class="form-control" id="addMarca" name="Marca" ng-model="Marca" aria-describedby="Marca" placeholder="Ingresa Marca" data-validacion-tipo="requerido|letras|max:100|min:2" required>
									<small class="form-control-feedback"></small>
									<br>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>



			<!-- <div ng-show="mostrarDeleteMarca" class="col-md-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Warning!</strong> The following information related to this Marca of the database will be deleted.
				</div>
				<div id="accordion" role="tablist" aria-multiselectable="false">
					<div class="card">
						<div class="card-header" role="tab" id="partStation4">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
									Number of Station in this Marca # {{numStations}}
								</a>
							</h5>
						</div>
						<div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="partStation4">
							<div class="card-block">
								<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Station</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dato in misStationByMarca">
											<td>{{ dato.nameStation }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="partBuyOff4">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
									Number of BuyOff in this Station of Marca # {{numBuyOff}}
								</a>
							</h5>
						</div>
						<div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="partBuyOff4">
							<div class="card-block">
								<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>BuyOff</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dato in misBuyByMarca">
											<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="partCheck4">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive4" aria-expanded="false" aria-controls="collapseFive4">
									Number of CheckList in this Station of Marca # {{numCheck}}
								</a>
							</h5>
						</div>
						<div id="collapseFive4" class="collapse" role="tabpanel" aria-labelledby="partCheck4">
							<div class="card-block">
								<table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>CheckList</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dato in misCheckByMarca">
											<td>{{dato.custom}} {{dato.nameStation}} {{dato.date}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="partAnswerBuy4">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix4" aria-expanded="false" aria-controls="collapseSix4">
									Number of answer in this BuyOff of Stations # {{numAnswerBuyMarca}}
								</a>
							</h5>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="partAnswerCheck4">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight4" aria-expanded="false" aria-controls="collapseEight4">
									Number of BuyOff in this Station of Marca # {{numAnswerCheckMarca}}
								</a>
							</h5>
						</div>
					</div>
				</div>
				<hr />
				<div class="form-group row">
					<div class="col-md-8 offset-md-2">
						<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
							<input type="checkbox" ng-model="acceptMarca" name="acceptMarca" class="form-check-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">I agree to carry out the operation</span>
						</label>
					</div>
				</div>
			</div> -->


			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				<button type="button" ng-click="saveMarca()" ng-show="saveBotonMarca" class="btn btn-primary">Save</button>

				<button type="button" ng-click="updateMarca()" ng-show="updateBotonMarca" class="btn btn-primary">Update</button>

				<button type="button" ng-click="deleteMarca()" ng-show="deleteBotonMarca" class="btn btn-primary" ng-disabled="acceptMarca==false">Delete</button>

			</div>
		</div>
	</div>
</div>
