<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainMaterial" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Material</h3>
          </div>
          <div class="col-md-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addMaterial" name="addMaterial" ng-click="addMaterial()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addMaterial" name="addMaterial" ng-click="addMaterial()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>
                  
                  
                  <th>Material</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="miMaterial in MisMaterial">
                  <td class="text-dark">{{ miMaterial.material }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaMaterial(miMaterial.id_material)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaMaterial(miMaterial.id_material)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertMaterial(miMaterial.id_material)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertMaterial(miMaterial.id_material)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="mostrarMaterial" class="col-md-12">
              <form id="newMaterial">
                <input type="hidden" name="idMaterialH" ng-model="idMaterialH">
                
                <div class="form-group purple-border"">
                  <label class="form-control-label" for="Material">Material</label>
                  <textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addMaterial" name="Material" ng-model="Material" aria-describedby="Material" placeholder="Ingresa Material" data-validacion-tipo="requerido|letras|max:100|min:2" required>

                  </textarea>
                  <small class="form-control-feedback"></small>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" ng-click="saveMaterial()" ng-show="saveBotonMaterial" class="btn btn-primary">Guardar</button>

        <button type="button" ng-click="updateMaterial()" ng-show="updateBotonMaterial" class="btn btn-primary">Actualizar</button>

        <button type="button" ng-click="deleteMaterial()" ng-show="deleteBotonMaterial" class="btn btn-primary" ng-disabled="acceptMaterial==false">Eliminar</button>

      </div>
    </div>
  </div>
</div>