<div class="row" ng-show="tablaProducto">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainProducto" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Producto</h3>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addProducto" name="addProducto" ng-click="addProducto()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addProducto" name="addProducto" ng-click="addProducto()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>



                  <th>Producto</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="miProducto in MisProducto">
                  <td class="text-dark">{{ miproducto.Modelo}}</td>
                  <td class="text-dark">{{ miproducto.Producto }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaProducto(miProducto.id_Producto)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaProducto(miProducto.id_Producto)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertProducto(miProducto.id_Producto)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertProducto(miProducto.id_Producto)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"> -->
        <div class="container">
          <div class="row">
            <div ng-show="mostrarProducto" class="col-md-12 card">
             <form id="nuevoProducto">




              <div class="row">
                <input type="hidden" name="idMarcaH" ng-model="idMarcaH">
                <div class="form-group col-md-3 col-sm-3 col-lg-3" >
                  <label for="marca">Marca</label>
                  <select title="selecciona una marca" class="form-control " 
                  name="id_marca" 
                  ng-model="id_marca" 
                  ng-options="datos.id_marca as datos.marca for datos in Mismarcas">
                  <option value="">Seleccione Marca</option>
                </select>
              </div>
              <div class="col-md-1">  </div>
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label" for="Modelo">Modelo</label>
                <input type="text" class="form-control" id="addModelo" name="Modelo" ng-model="Modelo" aria-describedby="Modelo" placeholder="Ingresa Modelo" data-validacion-tipo="requerido|letras|max:100|min:2" required>
              </div>

              <div class="col-md-1">  </div>
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label">Sub Modelo</label>
                <input type="text" class="form-control" id="addModelo" name="Modelo" ng-model="Modelo" aria-describedby="Modelo" placeholder="Ingresa Sub Modelo" data-validacion-tipo="requerido|letras|max:100|min:2" required>
              </div>
            </div>



            <div class="row">
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label">Forma</label>
                <input type="text" class="form-control" id="addForma" name="Forma" ng-model="Forma" aria-describedby="Forma" placeholder="Ingresa Sub Forma" data-validacion-tipo="requerido|letras|max:100|min:2" required>
              </div>
              <div class="col-md-1">  </div>
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label">Puente</label>
                <select title="selec Puente" class="form-control " name="idPuente" ng-model="idPuente" ng-options="datos.idPuente as datos.location for datos in Puentes">
                  <option value="">Selecciona Puente</option>
                </select>
              </div>
              <div class="col-md-1">  </div>
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label">Terminal</label>
                <select title="selec Terminal" class="form-control " name="idTerminal" ng-model="idTerminal" ng-options="datos.idTerminal as datos.location for datos in Terminales">
                  <option value="">Selecciona Terminal</option>
                </select>
              </div>
            </div>



            <div class="row">
              <div class="form-group col-md-3 col-sm-3 col-lg-3">
                <label class="form-control-label">Tipo Armazon</label>
                <select title="selec TipoArmazon" class="form-control "
                name="id_armazon" ng-model="id_armazon" 
                ng-options="datos.id_armazon as datos.armazon for datos in MisArmazon">
                <option value="">Selecciona Armazon</option>
              </select>
            </div>
            <div class="col-md-1">  </div>
            <div class="form-group col-md-3 col-sm-3 col-lg-3">
              <label class="form-control-label">Material Frente</label>
              <select title="selec MaterialFrente" class="form-control " name="idMaterialFrente" ng-model="idMaterialFrente" ng-options="datos.idMaterialFrente as datos.location for datos in MaterialFrentes">
                <option value="">Selecciona Material</option>
              </select>
            </div>
            <div class="col-md-1">  </div>
            <div class="form-group col-md-3 col-sm-3 col-lg-3">
              <label class="form-control-label">Material Terminal</label>
              <select title="selec MaterialTerminal" class="form-control " name="idMaterialTerminal" ng-model="idMaterialTerminal" ng-options="datos.idMaterialTerminal as datos.location for datos in MaterialTerminales">
                <option value="">Selecciona Material</option>
              </select>
            </div>
          </div>

          <div class="row">
           <div class="form-group col-md-5">
            <label class="form-control-label">Color Frente</label>
            <select title="selec ColorFrente" class="form-control " name="idColorFrente" ng-model="idColorFrente" ng-options="datos.idColorFrente as datos.location for datos in ColorFrentes">
              <option value="">Selecciona Color</option>
            </select>
          </div>
          <div class="col-md-1">  </div>
          <div class="form-group col-md-5">
            <label class="form-control-label">Color Terminal</label>
            <select title="selec ColorTerminal" class="form-control " name="idColorTerminal" ng-model="idColorTerminal" ng-options="datos.idColorTerminal as datos.location for datos in ColorTerminales">
              <option value="">Selecciona Color</option>
            </select>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
<!-- </div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

  <button type="button" ng-click="saveProducto()" ng-show="saveBotonProducto" class="btn btn-primary">Guardar</button>

  <button type="button" ng-click="updateProducto()" ng-show="updateBotonProducto" class="btn btn-primary">Actualizar</button>

  <button type="button" ng-click="deleteProducto()" ng-show="deleteBotonProducto" class="btn btn-primary" ng-disabled="acceptProducto==false">Eliminar</button>

</div>
</div>
</div>
</div>
 -->