<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainTamForm" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Tamaño Forma</h3>
          </div>
          <div class="col-md-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addTamForm" name="addTamForm" ng-click="addTamForm()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addTamForm" name="addTamForm" ng-click="addTamForm()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>
                  
                  
                  <th>Tamaño Forma</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="mitamForm in MisTamForm">
                  
                  <td class="text-dark">{{ mitamForm.tamanio_forma }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaTamForm(miTamForm.id_TamForm)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaTamForm(miTamForm.id_TamForm)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertTamForm(miTamForm.id_TamForm)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertTamForm(miTamForm.id_TamForm)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="mostrarTamForm" class="col-md-12">
              <form id="newTamForm">
                <input type="hidden" name="idTamFormH" ng-model="idTamFormH">
                
                <div class="form-group purple-border"">
                  <label class="form-control-label" for="TamForm">Tamaño Forma</label>
                  <textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addTamForm" name="TamForm" ng-model="TamForm" aria-describedby="TamForm" placeholder="Ingresa Tamaño Forma" data-validacion-tipo="requerido|letras|max:100|min:2" required>

                  </textarea>
                  <small class="form-control-feedback"></small>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" ng-click="saveTamForm()" ng-show="saveBotonTamForm" class="btn btn-primary">Guardar</button>

        <button type="button" ng-click="updateTamForm()" ng-show="updateBotonTamForm" class="btn btn-primary">Actualizar</button>

        <button type="button" ng-click="deleteTamForm()" ng-show="deleteBotonTamForm" class="btn btn-primary" ng-disabled="acceptTamForm==false">Eliminar</button>

      </div>
    </div>
  </div>
</div>