<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainTamPuente" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Tamaño Puente</h3>
          </div>
          <div class="col-md-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addTamPuente" name="addTamPuente" ng-click="addTamPuente()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addTamPuente" name="addTamPuente" ng-click="addTamPuente()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>
                  
                  
                  <th>Tamaño Puente</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="mitamPuente in MisTamPuente">
                  
                  <td class="text-dark">{{ mitamPuente.tamanio_puente }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaTamPuente(miTamPuente.id_TamPuente)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaTamPuente(miTamPuente.id_TamPuente)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertTamPuente(miTamPuente.id_TamPuente)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertTamPuente(miTamPuente.id_TamPuente)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="mostrarTamPuente" class="col-md-12">
              <form id="newTamPuente">
                <input type="hidden" name="idTamPuenteH" ng-model="idTamPuenteH">
                <div class="form-group">
                  <label class="form-control-label" for="descripcion">Descripcion</label>
                  <input type="text" class="form-control" id="adddescripcion" name="descripcion" ng-model="descripcion" aria-describedby="descripcion" placeholder="Ingresa Descripción" data-validacion-tipo="requerido|letras|max:100|min:2" required>
                  <br>
                  <br>
                </div>
                <div class="form-group purple-border"">
                  <label class="form-control-label" for="TamPuente">Tamaño Puente</label>
                  <textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addTamPuente" name="TamPuente" ng-model="TamPuente" aria-describedby="Ingresa Tamaño Puente" placeholder="Ingresa Tamaño Puente" data-validacion-tipo="requerido|letras|max:100|min:2" required>

                  </textarea>
                  <small class="form-control-feedback"></small>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" ng-click="saveTamPuente()" ng-show="saveBotonTamPuente" class="btn btn-primary">Guardar</button>

        <button type="button" ng-click="updateTamPuente()" ng-show="updateBotonTamPuente" class="btn btn-primary">Actualizar</button>

        <button type="button" ng-click="deleteTamPuente()" ng-show="deleteBotonTamPuente" class="btn btn-primary" ng-disabled="acceptTamPuente==false">Eliminar</button>

      </div>
    </div>
  </div>
</div>