<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="tab-pane fade show active" id="mainTamTerme" role="tabpanel" aria-labelledby="delete-tab">
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <br>
            <h3>Tamaño Terminal</h3>
          </div>
          <div class="col-md-3">
            <br>
            <!-- <button type="button" class="btn btn-outline-dark" id="addTamTerme" name="addTamTerme" ng-click="addTamTerme()">Add no funcion</button> -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalOperacion" id="addTamTerme" name="addTamTerme" ng-click="addTamTerme()">Agregar</button>
          </div>

          <div class="col-md-8 offset-md-2">

            <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-bordered">
              <thead >
                <tr>
                  
                  
                  <th>Tamaño Terminal</th>
                  <th style="width: 25px;"></th>
                  <th style="width: 25px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="mitamTerme in MisTamTerme">
                  
                  <td class="text-dark">{{ mitamTerme.tamanio_terminal }}</td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-info btn-sm" ng-click="modificaTamTerme(miTamTerme.id_TamTerme)">Update</button> -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="modificaTamTerme(miTamTerme.id_TamTerme)">Actualizar</button>
                  </td>
                  <td class="text-dark">
                    <!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlertTamTerme(miTamTerme.id_TamTerme)">Delete</button> -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalOperacion" ng-click="deleteAlertTamTerme(miTamTerme.id_TamTerme)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="modalOperacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="mostrarTamTerme" class="col-md-12">
              <form id="newTamTerme">
                <input type="hidden" name="idTamTermeH" ng-model="idTamTermeH">
                <div class="form-group">
                  <label class="form-control-label" for="descripcion">Descripcion</label>
                  <input type="text" class="form-control" id="adddescripcion" name="descripcion" ng-model="descripcion" aria-describedby="descripcion" placeholder="Ingresa Descripción" data-validacion-tipo="requerido|letras|max:100|min:2" required>
                  <br>
                  <br>
                </div>
                <div class="form-group purple-border"">
                  <label class="form-control-label" for="TamTerme">Tamaño Terminal</label>
                  <textarea class="md-textarea form-control rounded-0" rows="6" type="text" id="addTamTerme" name="TamTerme" ng-model="TamTerme" aria-describedby="TamTerme" placeholder="Ingresa Tamaño de la Terminal" data-validacion-tipo="requerido|letras|max:100|min:2" required>

                  </textarea>
                  <small class="form-control-feedback"></small>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" ng-click="saveTamTerme()" ng-show="saveBotonTamTerme" class="btn btn-primary">Guardar</button>

        <button type="button" ng-click="updateTamTerme()" ng-show="updateBotonTamTerme" class="btn btn-primary">Actualizar</button>

        <button type="button" ng-click="deleteTamTerme()" ng-show="deleteBotonTamTerme" class="btn btn-primary" ng-disabled="acceptTamTerme==false">Eliminar</button>

      </div>
    </div>
  </div>
</div>